{% if user.is_authenticated %}

<!-- Cabeçalho com link e barra de pesquisa -->
<header class="bg-light py-3">
    <div class="container">
        <div class="text-center">
            <a class="navbar-brand" href="{% url 'home' %}" style="text-decoration: none; color: inherit;">
                <h1 class="mb-0">MyAssist</h1>

            </a>
            <a href="{% url 'create' %}" class="text-decoration-none">Create</a>
            <!-- Barra de Pesquisa -->
            <form class="d-flex justify-content-center mt-3" action="{% url 'search' %}" method="get">
                <input class="form-control me-2 w-50" id="search" type="search" name="q" placeholder="Search"
                    aria-label="Search" value="{{request.GET.q.strip}}">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
        </div>
    </div>
</header>
{% endif %}