{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MyAssist{% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6">
                <div class="card text-center shadow-sm border-light">
                    <div class="card-body">
                        <h2 class="card-title mb-4">{% block header %}Welcome to MyAssist – Your Day, Perfectly
                            Planned!{% endblock %}</h2>
                        <p class="card-text mb-4">
                            {% block description %}
                            Welcome to MyAssist, your personal scheduling assistant! Sign up today to effortlessly
                            organize your meetings, tasks, and events. Stay on top of your schedule and never miss an
                            important moment. Create your account now and start planning your day with ease!
                            {% endblock %}
                        </p>
                        <a class="btn btn-primary btn-lg" href="{% url 'register' %}">Sign Up</a>
                        <a class="btn btn-primary btn-lg" href="{% url 'login' %}">Log In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>